@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?vve8z2');
  src: url('../fonts/icomoon.eot?vve8z2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vve8z2') format('truetype'),
    url('../fonts/icomoon.woff?vve8z2') format('woff'),
    url('../fonts/icomoon.svg?vve8z2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lt:before {
  content: '\e900';
}
.icon-gt:before {
  content: '\e901';
}
.icon-menu:before {
  content: '\e902';
  cursor: pointer;
}
