.wrapper {
  width: 83.33%;
  @extend .mx-auto;
}
.gum-logo {
  height: 2em;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.h-title {
  font-size: $font-size-base * 2;
}
.h-normal {
  font-size: $font-size-base;
  margin-bottom: 0;
}
.about {
  width: 91.66%;
  margin-left: auto;
}
.desc {
  flex: 1 1 50%;
  max-width: 50%;
  position: relative;
  padding: 0.5em 2em;
  p {
    margin-bottom: 0.75rem;
  }
  &::after {
    content: '';
    display: block;
    width: 4rem;
    height: 3.2rem;
    border-width: 0.5px;
    border-color: $primary;
    position: absolute;
  }
  &:nth-child(1)::after {
    border-style: none solid solid none;
    bottom: 0;
    right: 0;
  }
  &:nth-child(2)::after {
    border-style: none none solid solid;
    bottom: 0;
    left: 0;
  }
  &:nth-child(3)::after {
    border-style: solid solid none none;
    top: 0;
    right: 0;
  }
  &:nth-child(4)::after {
    border-style: solid none none solid;
    top: 0;
    left: 0;
  }
}

.photo-box {
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 100%;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    transform: scale(1.01);
  }
}
section {
  margin-bottom: 8vw;
}

.field {
  margin-bottom: 0.5rem;
  label {
    padding: 0.25rem 0;
  }
  &.row {
    margin-right: -0.25rem;
    margin-left: -0.25rem;
    > [class^='col'] {
      padding-right: 0.25rem;
      padding-left: 0.25rem;
    }
  }
  &-group.row {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    > [class^='col'] {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
}
.g-input {
  display: block;
  width: 100%;
  padding: 0.25rem 0;
  font-weight: 300;
  line-height: 1.2;
  color: $primary;
  outline: none;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #ccc;
  transition: border-color 0.3s ease-in-out;
  &:focus {
    border-color: $secondary;
  }
}

.g-btn {
  display: inline-block;
  background-color: #fff;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid $secondary;
  outline: none;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  transition: background-color 0.3s linear;
  &:hover {
    background-color: rgba($color: $secondary, $alpha: 0.4);
  }
}
%bg-center {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.banner {
  padding-bottom: 56.25%;
  @extend %bg-center;
}

.artist {
  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  border: 1px solid $secondary;
  @extend %bg-center;
}

.g-nav {
  .g-link {
    text-decoration: none !important;
    &.active {
      font-weight: 400;
    }
  }
}

.slick-list {
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &.slide-next {
    right: -2rem;
  }
  &.slide-prev {
    left: -2rem;
  }
}
.slick-slide {
  padding: 0 1rem;
}
.slick-dots {
  li {
    width: 0.75rem !important;
    height: 0.75rem !important;
    button {
      &::before {
        content: '' !important;
      }
      width: 0.75rem !important;
      height: 0.75rem !important;
      border-radius: 50%;
      border: 1px solid $primary !important;
      background-color: #fff !important;
    }
    &.slick-active {
      button {
        background-color: $primary !important;
      }
    }
  }
}
