@include media-breakpoint-down(md) {
    html,
    body {
        font-size: calc(1rem + 0.3vw);
    }
    .about {
        width: 83.33%;
        margin-right: auto;
    }
}
@include media-breakpoint-down(sm) {
    .wrapper,
    .about {
        width: 91.66%;
    }
}
