<template>
    <section id="artists" class="wrapper">
        <h2 class="h-title">artists</h2>
        <div class="position-relative mb-9">
            <slick ref="slick" :options="options" @beforeChange="beforeChange">
                <div
                    v-for="(artist, index) in artists"
                    :key="index"
                    class="artist"
                    :style="{ backgroundImage: `url(${artist})` }"
                ></div>
            </slick>
            <span
                class="slide-next icon-gt"
                v-show="current !== artists.length - slidesToShow"
            ></span>
            <span class="slide-prev icon-lt" v-show="current !== 0"></span>
        </div>
        <p>
            huyr is a popular singer-rapper among vpop for his signature in music. his topics in
            music significantly portray the perfect imperfections of life, the unaware beauty that
            are relatable to mass audience. huyr worked with tung viu to make the hit co gai m52,
            then collaborated with tuan cry in several projects, which made them a talented duo.
        </p>
        <h3 class="font-weight-bold">discography</h3>
        <ul>
            <li>2018 - co gai m52 ft. tung viu</li>
            <li>2018 - chuyen anh sinh vien ft. the way, lizay</li>
            <li>2019 - yeu anh em nhe ft. tung viu</li>
            <li>2019 - cap doi do 10 ft. tuan cry</li>
            <li>2020 - anh thanh nien</li>
            <li>2020 - sai gon cua anh with k-icm</li>
        </ul>
    </section>
</template>

<script>
function importAll(r) {
    return r.keys().map(r);
}
const artists = importAll(require.context('../assets/images/artists', false, /\.(png|jpe?g)$/));

export default {
    data() {
        return {
            artists,
            slidesToShow: 3,
            current: 0
        };
    },
    computed: {
        options() {
            return {
                arrows: true,
                infinite: false,
                slidesToShow: this.slidesToShow,
                nextArrow: '.slide-next',
                prevArrow: '.slide-prev'
            };
        }
    },
    methods: {
        beforeChange(e, slick, current, next) {
            this.current = next;
        }
    }
};
</script>
