<template>
    <section class="wrapper">
        <slick ref="slick" :options="options">
            <div
                v-for="(banner, index) in banners"
                :key="index"
                class="banner"
                :style="{ backgroundImage: `url(${banner})` }"
            ></div>
        </slick>
    </section>
</template>

<script>
function importAll(r) {
    return r.keys().map(r);
}
const banners = importAll(require.context('../assets/images/banners', false, /\.(png|jpe?g)$/));

export default {
    data() {
        return {
            banners
        };
    },
    computed: {
        options() {
            const manyBanners = this.banners.length > 1;
            return {
                autoplay: manyBanners,
                dots: true,
                arrors: false,
                nextArrow: '<span></span>',
                prevArrow: '<span></span>',
                infinite: manyBanners
                // dotsClass: 'slider-dots'
            };
        }
    }
};
</script>
