<template>
    <footer class="wrapper">
        <div class="d-flex flex-wrap justify-content-between pt-8 mx-n5">
            <div class="d-flex align-items-center pb-8 px-5">
                <img src="../assets/images/logoGUM.png" alt="gum logo" class="gum-logo" />
                <p class="d-none d-md-block pl-3 m-0">
                    privacy policy<br />gum corporation © all rights reserved
                </p>
            </div>
            <div class="d-flex align-items-center pb-8 px-5">
                <div>booking@gum.vn <br />0899 62 6969</div>
            </div>
        </div>
    </footer>
</template>
