<template>
    <header class="py-5 bg-white sticky-top shadow-sm">
        <div class="wrapper">
            <div class="d-flex justify-content-between">
                <div class="d-block d-lg-none align-self-center">
                    <span class="icon-menu"></span>
                </div>
                <div class="d-flex align-items-center">
                    <img src="../assets/images/logoGUM.png" alt="gum logo" class="gum-logo" />
                    <p class="d-none d-md-block pl-3 m-0">gum<br />entertainment</p>
                </div>
                <div class="d-flex align-items-center">
                    <div class="text-right">
                        <div><a href="">vi</a>-<a href="" class="font-weight-bold">en</a></div>
                        <nav class="d-none d-lg-block g-nav">
                            <ul class="d-flex">
                                <li class="pr-3">
                                    <a class="g-link" href="#weare">we are</a>
                                </li>
                                <li class="px-3">
                                    <a class="g-link" href="#artists">artists</a>
                                </li>
                                <li class="px-3">
                                    <a class="g-link" href="#leadership">leadership</a>
                                </li>
                                <li class="pl-3">
                                    <a class="g-link" href="#audition">audition</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>
