<template>
    <div>
        <section id="weare" class="wrapper px-0">
            <h2 class="h-title">we are</h2>
            <p>
                acknowledged that music is made for entertaining purpose as well as connecting soul
                to soul, gum focus on creating positive music with high-qualified production not
                only to trigger auditory nerves but also visually performing arts. by that, gum want
                to contribute into vietnamese diversity by creating more positive messages and cover
                the bitterness of life by acting as a sweetener.
            </p>
            <p>
                gum study on global leading content, sustains qualified production and keeps moving
                forward in producing music with new materials in order to satisfy our fans, bring
                better quality to music industry regarding attemption to inject positivity into
                vietnamese lives.
            </p>
        </section>
        <div class="border-top border-bottom" style="margin: 5rem 0;">
            <div class="d-flex align-items-center about">
                <div class="col-5 px-0 d-none d-lg-block">
                    <img src="../assets/images/logoGUM.png" alt="gum logo" class="img-fluid" />
                </div>
                <div class="col-24 px-0 col-lg-19 d-flex flex-wrap">
                    <div class="desc">
                        <h3 class="h-normal">company name</h3>
                        <p>gum entertainment corporation</p>
                    </div>
                    <div class="desc">
                        <h3 class="h-normal">chief excutive officer</h3>
                        <p>nguyen dang giang</p>
                    </div>
                    <div class="desc">
                        <h3 class="h-normal">core services</h3>
                        <p>
                            artist management, music production new artist development, video
                            production
                        </p>
                    </div>
                    <div class="desc">
                        <h3 class="h-normal">date of founding</h3>
                        <p>january 18, 2019</p>
                    </div>
                </div>
            </div>
        </div>
        <ArtistsSlider></ArtistsSlider>
        <section id="leadership" class="wrapper">
            <h2 class="h-title">leadership</h2>
            <div class="row">
                <div class="col-12 col-lg-6 mb-9">
                    <div class="h-100 border">
                        <div class="photo-box border-bottom">
                            <img src="../assets/images/sketchGiang.png" alt="nguyen dang giang" />
                        </div>
                        <div class="p-4">
                            <h3 class="h-normal">nguyen dang giang</h3>
                            <p>ceo<br />excutive producer</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-9">
                    <div class="h-100 border">
                        <div class="photo-box border-bottom">
                            <img src="../assets/images/sketchBao.png" alt="nguyen bao" />
                        </div>
                        <div class="p-4">
                            <h3 class="h-normal">nguyen bao</h3>
                            <p>music producer</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-9">
                    <div class="h-100 border">
                        <div class="photo-box border-bottom">
                            <img src="../assets/images/sketchTM.png" alt="van tu minh" />
                        </div>
                        <div class="p-4">
                            <h3 class="h-normal">van tu minh</h3>
                            <p>head of marketing</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-9">
                    <div class="h-100 border">
                        <div class="photo-box border-bottom">
                            <img src="../assets/images/sketchNam.png" alt="nam tran ba" />
                        </div>
                        <div class="p-4">
                            <h3 class="h-normal">nam tran ba</h3>
                            <p>video director</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="audition" class="wrapper">
            <h2 class="h-title">audition</h2>
            <form action="">
                <div class="row field">
                    <div class="col-8 col-sm-6">
                        <label for="name">your name</label>
                    </div>
                    <div class="col-16 col-sm-18">
                        <input type="text" name="name" id="name" class="g-input" />
                    </div>
                </div>
                <div class="row field-group">
                    <div class="col-24 col-md-12">
                        <div class="row field">
                            <div class="col-8 col-sm-6 col-md-12">
                                <label for="sex">sex</label>
                            </div>
                            <div class="col-16 col-sm-18 col-md-12">
                                <input type="text" name="sex" id="sex" class="g-input" />
                            </div>
                        </div>
                    </div>
                    <div class="col-24 col-md-12">
                        <div class="row field">
                            <div class="col-8 col-sm-6 col-md-12">
                                <label for="age">age</label>
                            </div>
                            <div class="col-16 col-sm-18 col-md-12">
                                <input type="text" name="age" id="age" class="g-input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row field">
                    <div class="col-8 col-sm-6">
                        <label for="address">address</label>
                    </div>
                    <div class="col-16 col-sm-18">
                        <input type="text" name="address" id="address" class="g-input" />
                    </div>
                </div>
                <div class="row field-group">
                    <div class="col-24 col-md-16">
                        <div class="row field">
                            <div class="col-8 col-sm-6 col-md-9">
                                <label for="email">email</label>
                            </div>
                            <div class="col-16 col-sm-18 col-md-15">
                                <input type="text" name="email" id="email" class="g-input" />
                            </div>
                        </div>
                    </div>
                    <div class="col-24 col-md-8">
                        <div class="row field">
                            <div class="col-8 col-sm-6 col-md-8">
                                <label for="phone">phone</label>
                            </div>
                            <div class="col-16 col-sm-18 col-md-16">
                                <input type="text" name="phone" id="phone" class="g-input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row field">
                    <div class="col-8 col-sm-6">
                        <label for="facebook">link facebook</label>
                    </div>
                    <div class="col-16 col-sm-18">
                        <input type="text" name="facebook" id="facebook" class="g-input" />
                    </div>
                </div>
                <button class="g-btn w-100 mt-7">submit</button>
            </form>
        </section>
    </div>
</template>

<script>
import ArtistsSlider from '@/components/ArtistsSlider';
export default {
    components: {
        ArtistsSlider
    }
};
</script>
