<template>
    <div id="app">
        <Header ref="header"></Header>
        <Banner></Banner>
        <Main></Main>
        <Footer></Footer>
    </div>
</template>

<script>
import Header from '@/components/Header';
import Banner from '@/components/Banner';
import Main from '@/components/Main';
import Footer from '@/components/Footer';
export default {
    components: {
        Header,
        Banner,
        Main,
        Footer
    }
};
</script>
